.week-info {
  font-size: 16px;
  margin-bottom: 20px;
}

.week-info p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.week-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.symptom-container,
.advice-container {
  margin-bottom: 20px;
}

.symptom-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.symptom-description,
.advice-description {
  font-size: 14px;
  color: #555;
}

p {
  color: #8e8888;
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.showFullContent {
  overflow: visible;
  height: auto;
}

.hideFullContent {
  overflow: hidden;
  height: 90px; /* Altura máxima inicial para mostrar */
}

.toggle-button {
  background: none;
  border: none;
  color: #ff6b6b; /* Color rosado */
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}

.toggle-button:hover {
  text-decoration: underline;
}

.advice-container {
  margin-bottom: 20px;
}

.advice-content {
  max-height: 90px; /* Altura máxima inicial para mostrar */
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.advice-content.expanded {
  max-height: none; /* Mostrar todo el contenido cuando está expandido */
}

.advice-container button {
  background: none;
  border: none;
  color: #ff6b6b; /* Color rosado */
  cursor: pointer;
  font-size: 14px;
}

.advice-container button:hover {
  text-decoration: underline;
}
