body {
  font-family: Arial, sans-serif;
  background-color: #eff6fd; 
  color: #F45496;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  max-width: 100px;
  margin-top: 10px; /* Mover el logo arriba */
}

h1 {
  font-size: 24px;
  color: #F45496;
  margin-top: 10px; /* Mover el título arriba */
}

.card {
  background-color: #eff6fd;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  margin-top: 20px;
}

.card p {
  color: #8e8888;
}