.header-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.logo {
  max-width: 100px;
  margin-right: 10px;
}

.logo img {
  max-width: 100%;
}

.profile-photo {
  max-width: 30px; 
  max-height: 30px; 
  border-radius: 50%;
  margin-bottom: 70px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
